.hero,
.technologies {
	margin-bottom: 10rem;
}

/* hero */
.hero {
	padding: 4rem 0;
	position: relative;
}
.hero-title {
	text-transform: uppercase;
	font-weight: var(--font-800);
}
.hero-badge {
	text-transform: uppercase;
	margin-top: -0.5rem;
	margin-bottom: 4rem;
	font-weight: var(--font-600);
}
.hero-desc {
	margin-bottom: 2rem;
	width: 100%;
	max-width: 60rem;
}
.hero-links {
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: flex-start;
}
.hero .svg {
	display: none;
}
@media screen and (min-width: 500px) {
	.hero-title {
		font-size: 3rem;
	}
}
@media screen and (min-width: 800px) {
	.hero {
		padding: 0;
	}
}
@media screen and (min-width: 1200px) {
	.hero-title {
		font-size: 4rem;
	}
	.hero-badge {
		font-size: 2rem;
		margin-bottom: 8rem;
	}
	.hero-links {
		margin-top: 8rem;
	}
	.hero .svg {
		position: absolute;
		display: flex;
		height: 8rem;
		transition: 0.3s linear;
	}
	.hero .svg-tech {
		bottom: 0;
		right: 5%;
		height: 15rem;
		animation: animate 1.5s linear infinite;
	}
	.hero .svg-code {
		top: 2%;
		right: -4%;
		animation: animate 1s ease infinite;
	}

	@keyframes animate {
		0%,
		100% {
			transform: translateY(-2px);
		}
		50% {
			transform: translateY(2px);
		}
	}
	.hero .svg-favicon {
		top: 50%;
		transform: translateY(-50%) rotate(15deg);
		right: -15%;
		height: 15rem;
		animation: favicon 1.8s ease infinite;
	}
	@keyframes favicon {
		0%,
		100% {
			transform: translateY(-48%) rotate(14deg);
		}
		50% {
			transform: translateY(-50%) rotate(15deg);
		}
	}
}
/* hero */

/* skills */
.skills-list {
	margin-top: 6rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}
.skills-list-item {
	position: relative;
	padding-left: 3rem;
	display: flex;
	align-items: center;
}
.skills-list-item::before {
	content: '';
	position: absolute;
	left: 0;
	height: 2rem;
	width: 2rem;
	border-radius: 0.3rem;
	background: var(--color-secondary);
}
@media screen and (min-width: 500px) {
	.skills-list {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (min-width: 1200px) {
	.skills-list {
		grid-template-columns: repeat(3, 1fr);
	}
}
/* skills */
