.header {
	background: var(--color-light);
	width: 100%;
	max-width: 32rem;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;
	display: grid;
	place-items: center;
	row-gap: 6rem;
	padding: 2rem;
	transition: 0.3s ease-in;
	transform-origin: left center;
	z-index: 5;
	clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.header.active {
	clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
@media screen and (min-width: 800px) {
	.header {
		clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
	}
}

.header-cv {
	position: fixed;
	left: -1rem;
	top: 2rem;
	width: 18rem;
	height: 4rem;
	background: var(--color-primary);
	transition: 0.3s linear;
	clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 0 0);
	display: grid;
	place-items: center;
}
.header-cv:hover {
	left: 0;
}
.header-cv span {
	color: #fbfbfb;
	font-weight: var(--font-500);
	font-size: 1.4rem;
	margin-left: -3.5rem;
}

.header-info {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	align-items: center;
	margin-top: 8rem;
}
.header-info-profile {
	height: 15rem;
	width: 15rem;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 0 0.8rem 0.2rem var(--color-primary-50);
}
.header-info-profile img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.header-info-title {
	font-size: 2rem;
	color: var(--color-secondary);
}
.header-info-desc {
	text-align: center;
	font-size: 1.4rem;
}
