@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--font-family: 'Poppins', sans-serif;
	--font-size: 1.6rem;
	--font-100: 100;
	--font-200: 200;
	--font-300: 300;
	--font-400: 400;
	--font-500: 500;
	--font-600: 600;
	--font-700: 700;
	--font-800: 800;

	--color-primary: #5f3899;
	--color-primary-50: rgba(95, 56, 153, 0.5);
	--color-secondary: #ff5200;
	--color-dark: #101010;
	--color-dark-50: rgba(16, 16, 16, 0.5);
	--color-bg: #e6e7fa;
	--color-bg-sidebar: #efeffb;
	--color-light: #fbfbfb;
}

::-webkit-scrollbar {
	background: rgba(137, 194, 243, 0.3);
	width: 0.6rem;
	height: 0.4rem;
}
::-webkit-scrollbar-track {
	border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(
		125deg,
		var(--color-primary-50),
		var(--color-dark-50)
	);
	border-radius: 0.5rem;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	background: var(--color-bg);
	color: var(--color-dark);
	font-weight: var(--font-300);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.item-center {
	display: grid;
	place-items: center;
}

.text-center {
	text-align: center;
}
.text-bold {
	font-weight: var(--font-600);
}

.title {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	margin: 2rem 0;
}
.title span {
	color: var(--color-secondary);
	font-size: 3.5rem;
}

.main {
	position: relative;
	padding: 2rem 5%;
	width: 100%;
	min-height: 100vh;
}
@media screen and (min-width: 800px) {
	.main {
		margin-left: 32rem;
		width: auto;
		padding-top: 4rem;
		padding-bottom: 4rem;
		overflow-x: hidden;
	}
}
