@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--font-family: 'Poppins', sans-serif;
	--font-size: 1.6rem;
	--font-100: 100;
	--font-200: 200;
	--font-300: 300;
	--font-400: 400;
	--font-500: 500;
	--font-600: 600;
	--font-700: 700;
	--font-800: 800;

	--color-primary: #5f3899;
	--color-primary-50: rgba(95, 56, 153, 0.5);
	--color-secondary: #ff5200;
	--color-dark: #101010;
	--color-dark-50: rgba(16, 16, 16, 0.5);
	--color-bg: #e6e7fa;
	--color-bg-sidebar: #efeffb;
	--color-light: #fbfbfb;
}

::-webkit-scrollbar {
	background: rgba(137, 194, 243, 0.3);
	width: 0.6rem;
	height: 0.4rem;
}
::-webkit-scrollbar-track {
	border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(
		125deg,
		var(--color-primary-50),
		var(--color-dark-50)
	);
	border-radius: 0.5rem;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	background: var(--color-bg);
	color: var(--color-dark);
	font-weight: var(--font-300);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.item-center {
	display: grid;
	place-items: center;
}

.text-center {
	text-align: center;
}
.text-bold {
	font-weight: var(--font-600);
}
.text-primary {
	color: var(--color-primary);
}
.text-secondary {
	color: var(--color-secondary);
}
.text-link {
	text-decoration: none;
	transition: 0.2s ease-in;
}
.text-link:hover {
	text-decoration: underline;
}

.title {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	margin: 2rem 0;
}
.title span {
	color: var(--color-secondary);
	font-size: 3.5rem;
}

.main {
	position: relative;
	padding: 2rem 5%;
	width: 100%;
	min-height: 100vh;
}
@media screen and (min-width: 800px) {
	.main {
		margin-left: 32rem;
		width: auto;
		padding-top: 4rem;
		padding-bottom: 4rem;
		overflow-x: hidden;
	}
}

.button {
	background: var(--color-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1.5rem;
	padding: 0.8rem 2rem;
	outline: none;
	cursor: pointer;
	color: #fbfbfb;
	border-radius: 0.5rem;
	font-weight: var(--font-500);
	max-width: 25rem;
	border: none;
}
.button-primary {
	background: var(--color-primary);
}
.button-pdf {
	max-width: initial;
	width: 28rem;
	margin: 4rem auto 6rem;
}
.button-youtube {
	width: 20rem;
	height: 4.5rem;
	margin: 0 auto;
}

.loading {
	margin-top: 5rem;
	width: 100%;
	display: grid;
	place-items: center;
}
.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-spinner div {
	transform-origin: 40px 40px;
	animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 6px;
	height: 18px;
	border-radius: 20%;
	background: var(--color-secondary);
}
.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes showCard {
	from {
		transform: scale(1);
		opacity: 0;
	}
	to {
		transform: scale(1);
	}
}

.text-error {
	width: 100%;
	text-align: center;
	color: var(--color-secondary);
}
